<html>
   <head>
       <title>FORM</title>
   </head>
   <body>
     <h1>Community Events Board Form</h1>
       <form method="post" action="/events/new">
           <label for="event_name">Event Name:</label>
           <input type="text" name="event_name" value="">
           <label for="event_date">Date:</label>
           <input type="date" name="event_date" value="">
           <label for="name">Name:</label>
           <input type="name" name="user_name" value="">
           <input type="submit" value="Submit">
       </form>
   </body>
</html>
